<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personas</title>
  <link rel="stylesheet" href="resources/css/style_acercade.css">
</head>
<body>
    <div class="logo-contenedor">
        <img src="resources/images/uac_logo.png" alt="Logo Izquierdo" class="logo-izquierdo">
        <h1 class="titulo-sitio">Equipo de Desarrollo</h1>
        <img src="resources/images/facu_logo.png" alt="Logo Derecho" class="logo-derecho">
    </div>
    <main class="contenido">
      <div class="personas">
        <!-- Aquí van tus elementos de personas -->
        <div class="persona">
          <img src="resources/images/Madi.png" alt="Persona 1" class="avatar">
          <div class="info">
            <h2>Madinson Omar Lugo Robledo</h2>
            <p>Project Manager</p>
          </div>
        </div>

        <div class="persona">
          <div class="info">
            <h2>Adrian Enrique Palma Sosa</h2>
            <p>Programador Full Stack</p>
          </div>
          <img src="resources/images/Adrian.png" alt="Persona 2" class="avatar">
        </div>

        <div class="persona">
          <img src="resources/images/Tamy.png" alt="Persona 3" class="avatar">
          <div class="info">
            <h2>Tamara Rodriguez Romo</h2>
            <p>Programadora Full Stack</p>
          </div>
        </div>

        <div class="persona">
          <div class="info">
            <h2>Rene Antonio del Agua y Culebro Calderon</h2>
            <p>Seguridad Informática/Cibernetica</p>
          </div>
          <img src="resources/images/Rene.png" alt="Persona 4" class="avatar">
        </div>

        <div class="persona">
          <img src="resources/images/Scar.png" alt="Persona 5" class="avatar">
          <div class="info">
            <h2>Scarlet Yuliana Rangel Rodriguez</h2>
            <p>Desarrolladora Front</p>
          </div>
        </div>
      </div>
    </main>
    <footer class="pie-pagina">
        <p>&copy; 2024 CIC Assistance. Todos los derechos reservados.</p>
    </footer>

  <script src="resources/scripts/acercade.js"></script>
</body>
</html>
