<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>

    <link rel="stylesheet" href="resources/css/style_menu_administrador.css">
    <style>
        #contenerdorError{
            margin: 3%;
            padding: 3%;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 10px;
        }

        #errorImagen{
            width: 200px;
            height: 200px;
        }

        .opcion-menu{
            text-decoration: line-through;
        }
    </style>

</head>
<body>
    <div class="logo-contenedor">
        <img src="resources/images/uac_logo.png" alt="Logo Izquierdo" class="logo-izquierdo">
        <h1 class="titulo-sitio">CIC Assistance</h1>
        <img src="resources/images/facu_logo.png" alt="Logo Derecho" class="logo-derecho">
    </div>

    <div id="contenerdorError">
        <img id="errorImagen" src="resources/images/acceso_denegado.png" alt="Imagen de error">
        <p>No tienes permisos para acceder a esta página.</p>
        <p>Favor de comunicarse directamente a la Coordinación del Centro de Ingeniería Computacional</p>
        <p>Contacta al departamento via Telefono: 9818119800 // Extensión: 3030107</p>
    </div>
</body>
</html>