/* Estilos generales */
* {
    font-family: 'Roboto', sans-serif; /* Cambiado a Roboto */
    margin: 0;
    padding: 0;
}
/* Estilos para el contenedor del diagnóstico */
#contenedorDiagnostico {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: auto;
    padding: auto;
    background-color: #fafafaf6;
    width: 85%;
    padding-top: 20px; /* Ajusta este valor según tus necesidades */
}

/* Estilo específico para h2 dentro del contenedorDiagnostico */
#contenedorDiagnostico h2 {
    margin-top: 10px; /* Ajusta este valor según tus necesidades */
    margin-bottom: 20px;
    color: #0D1642;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
}

#folios{
    margin-bottom: .4em;
    width: 20%;
    margin-left: .4em;
}
.labelMayor{
    font-weight: bold;
    color: #0D1642;
    margin-bottom: .4em;
    display: block;
}

/* Estilos para los textarea */
#diagnosticoT,
#solucion {
    width: 95%;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin: auto; /* Centrado horizontal */
}

.enviarDiagnostico{
    text-align: center;
    margin-bottom: 1em;
}
#enviarDiagnostico{
    margin: 0 0 2em 1em;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center; /* Añadido para centrar el texto */
}


@media only screen and (max-width: 600px) {
    #contenedorDiagnostico{
        padding: 10%;
        align-items: center;
    }

}