body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


.logo-contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 5px; /* Ajusta según sea necesario */
}

.logo-contenedor img {
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 80px; /* Ajusta el ancho máximo de la imagen según sea necesario */
}

.titulo-sitio {
    margin: 0;
    font-size: 18px; /* Ajusta el tamaño del texto según sea necesario */
}

.estadisticasContenedor{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding: 0 0 0 1em;
    background-color: #fafafaf6;
    width: 85%;

}

.estadisticasContenedor h2{
    margin-top: 0;
    margin-bottom: 1em;
    color: #0D1642;
    font-weight: bold;
    text-align: center;
}

.labelMayor {
    font-weight: bold;
    color: #0D1642;
    margin-bottom: 1em;
    margin-top: .4em;
}

.fechas p{
    display: inline;
}