*{
    font-family: 'Roboto';
}

/*Formulario Creación de Dictámenes*/
.creacionDictamen{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding: 0 0 0 1em;
    background-color: #fafafaf6;
    width: 85%;
}
.creacionDictamen h2,#tituloHistorialSoli{
    margin-top: 0;
    margin-bottom: 1em;
    color: #0D1642;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
}
#tituloHistorialSoli{
    margin-top: 1em;
}
.historialSolicitudes {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: auto;
    padding: 0 2em; /* Modificado el padding */
    background-color: #fafafaf6;
    width: 85%;
    text-align: center; /* Alineación del texto centrada */
    box-sizing: border-box; /* Incluir padding en el ancho total */
}

#fechaDictamen{
    text-align: right;
    margin-right: 2em;
    margin-bottom: 0;
}

/* Labels */
.labelMayor {
    font-weight: bold;
    color: #0D1642;
    margin-bottom: 1em;
    margin-top: .4em;
}
#folioSolicitudDictamen{
    width: 100%;
}
/* Contenedores principales */
.contenedorDictamen,
.contenedorSecundario,
.contenedorFiltro{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
}

.contenedorDictamen div,
.contenedorFiltro div,
.contenedorSecundario div {
    flex: 1 1 calc(33.33% - 2em);
    margin-right: 2em;
}

.contenedorFiltro input,
.contenedorFiltro select {
    width: 100%;
    font-weight: bold;
    height: auto; 
    border: 1px solid #91AEE7;
    border-radius: 3px;
    padding: 4px;

}

/* Botón generar */
.btnGuardarDatos,
.btnGenerarPDF {
    display: flex;
    justify-content: center; 
    margin-top: 1.5em;
    margin-bottom: .3em;
}

#btnFiltrar {
    height: 2em;
    background-color: #0D1642;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin-bottom: 1em;
    width: auto;
}

#btnFiltrar:hover {
    color: #0D1642;
    background-color: white;
}
#pdfDictamen{
    display: flex;
    justify-content: center;
}
/*Tabla historial*/
.contenedorTabla {
    display: flex;
    justify-content: center; 
    margin-bottom: 1.5em;
    width: 100%;
}

#tablaHistorial{
    border: 1px solid #311C6C;
    border-collapse: collapse;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

#tablaHistorial th{
    background-color:  #91AEE7;
    color: #0D1642;
}

#tablaHistorial th, #tablaHistorial td {
    border: 1px solid #4d3788;
    padding: 8px; /* Ajustar el relleno de celda */
}
