body {
    font-family: 'Roboto', sans-serif; /* Cambiado a Roboto */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Cambiado el color */
    border-radius: 5px; /* Cambiado el valor */
    background-color: #fafafaf6;
}
#estadoSolicitudes{
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #0D1642;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid #311C6C; /* Cambiado el color */
}
#estatusTabla th,td{
    text-align: center;
    width: auto;
    font-size: .95em;
}
#equipoEstado{
    width: 13%;
}
#fechaEstado{
    width: 10%;
}
[id^="bordeDerecho"],[id^="pendienteDerecha"],[id^="esperarDerecha"],#pendienteVacioDerecha,#bordeD,#bordeDer,#bordeDerechoVacio,#esperaVacioDerecha,[id^="ladoDerecho"],#ladoDerechoVacio{
    border-right: 1px solid #000;
}
.seleccion{
    width: 10%;
}
#cambiarEstado{
    width: 50%;
}
.guardarCambios{
    text-align: center;
}

.tableEstatus {
    background-color: #1E2943;
}

@media only screen and (max-width: 600px) {
    /* Estilos para dispositivos m칩viles */
    th, td {
        font-size: 12px; /* Ajustar tama침o de fuente para pantallas peque침as */
    }

    /* Ocultar ciertas columnas en pantallas peque침as si es necesario */
    th:nth-child(5),
    td:nth-child(5),
    th:nth-child(6),
    td:nth-child(6) {
        display: none;
    }

    /* Agregar desplazamiento horizontal si la tabla es demasiado ancha */
    .contenedorTabla {
        overflow-x: auto;
    }

}

.orange {
    background-color: #ff7f00;
}
  