/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif; /* Cambiado a Roboto */
    margin: 0;
    padding: 0;
}
#contenedorPDF h2{
    margin-top: 1em;
    margin-bottom: .5em;
    color: #0D1642;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
}
/* Encabezado */
#contenedorPDF{
    border: 1px solid #311C6C;
    border-radius: 5px;
    margin: auto;
    padding: 0 0 0 4em;
    background-color: #babdf0;
    width: 85%;
}
.labelFolio{
    font-weight: bold;
    color: #0D1642;
    margin-bottom: .4em;
    margin-top: .5em;
    display: block;
}
#folios{
    margin-bottom: .4em;
    width: 10%;
}
.labelMayor{
    font-weight: bold;
    color: #0D1642;
    margin-bottom: .4em;
    display: block;
}
fieldset {
    border: none;
}
.contenedor-checkbox {
    display: flex;
    flex-wrap: wrap; 
}
#serie,#marca,#modelo{
    width: 30%;
}
/* Estilos para área de texto */
#caracteristicas {
    width: 95%;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Estilos para la nueva parte con checkboxes */
.contenedor-estatus {
    margin: auto auto 1em auto;
    display: flex;
}
.contenedor-estatus div{
    width: 50%;
    display: flex;
}
#lblEstatus,#lblRevision{
    width: 20%;
    margin-right: 1em;
}
#revision,#estatus{
    width: 65%;
    margin-right: 2em;
}
.enviarVale{
    text-align: center;
    margin-bottom: 1em;
}
#generarPDF {
    margin: auto;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center; /* Añadido para centrar el texto */
}


@media only screen and (max-width: 600px) {
    #contenedorPDF{
        padding: 10%;
        align-items: center;
    }
    #serie,#marca,#modelo,#caracteristicas,#estatus,#revision{
        width: 80%;
    }
    .contenedor-estatus {
        flex-wrap: wrap;
    }

}