@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto';
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulosLogin {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #0D1642;
    font-weight: bold;
}
#formRegistro{
    width: 75%;
}
.registroCampos{
    display: flex;
    margin-bottom: 1.5em;
}
#username,#password,#password2,#name,#correo{
    width: 70%;
    margin-left: 2em;
    padding-top: 0;
    padding-bottom: 0;
}
.lblRegistro{
    width: 30%;
}
#enviarRegistro{
    text-align: center;
    margin-bottom: 1em;
}