@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto';
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado {
    width: 100%;
    height: 100%;
    margin-bottom: 2em;
    margin-top: 1em;
    background-image: url('ruta_de_la_imagen_de_encabezado.jpg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.encabezado img {
    display: block;
    margin: 0 auto;
}
.titulosLogin {
    text-align: center;
}
.explicacion{
    font-size: 12px;
    background-color: #f2f2f2;
    margin-top: 2em;
    text-align: center;
    width: 80%;
}
.camposLogin, #inicioSesion {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#inicioSesion {
    width: 33.33%;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

#inicioSesion:hover {
    background-color: #45a049;
}
.selects_registro{
    text-align: center;
    margin: 0 auto 2em auto;
}
.panel-privacidad {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

.enlaces-sociales {
    text-align: center;
    margin-bottom: 20px;
}

.enlaces-sociales a {
    display: inline-block;
    margin: 0 20px;
}

.enlaces-sociales a img {
    width: 30px;
    height: auto;
}
