*{
    font-family: "Roboto", sans-serif;
}
/*Formulario de solicitud*/
.solicitud{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: auto;
    padding: 0 0 0 4em;
    background-color: #fafafaf6;
    /*border: 1px solid black;*/
    width: 85%;

}
#fechaSolicitud{
    text-align: right;
    margin-right: 2em;
    margin-bottom: 0;
}
.solicitud h2{
    margin-top: 0;
    margin-bottom: 1em;
    color: #0D1642;
    font-family: 'Roboto';
    font-weight: bold;
}
/*Todas las label deben resaltar (label que no son opciones, si no titulos)*/
.labelMayor{
    font-weight: bold;
    color: #0D1642;
    margin-bottom: .2em;
    display: block;
}
/*Abarca los primos label e input de texto*/
.contenedorInicial{
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 1.5em;
    flex-wrap: wrap;
}
.contenedorInicial div{
    margin-right: 4em;
}

.contenedorInicial ::placeholder, #descripcion::placeholder{
    color: rgba(0, 0, 0, .40);
}
#telefono{
    width: 85%;
}
#area{
    width: 70%;
}
/*Abarca todo el apartado de "Equipos"*/
fieldset {
    border: none;
}
.contenedor-checkbox {
    display: flex;
    flex-wrap: wrap; 
}

/*Estilos al apartado "Descripcion"*/
#descripcion{
    width: 95%;
    display: block;
    margin-bottom: 1em;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.enviarSoli{
    text-align: right;
}
/*Estilos botón enviar*/
#enviar{
    font-weight: bold;
    margin-bottom: 1em;
    margin-right: 4em;
}
@media only screen and (max-width: 600px) {
    #descripcion{
        width: 80%;
    }
}